<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title admin tatto | add
        include ../includes/admin/head.pug
    body(id="page-top")
        include ../includes/admin/navigation.pug
        //- Form tattoo
        .container.p-4
            .row
                .col-md-12
                    a(href="/admin/blog/add") Agregar posts 
                    table.table.table-bordered.table-hover
                        thead
                            tr
                                td 
                                td Id
                                td Titulo
                                td Descripcion
                                td Creado
                                td 

                        tbody
                        -posts.forEach(function(post){
                            tr 
                                td
                                    img(src=post.path, class="img-fluid", width="100")
                                td=post.cnt
                                td=post.title
                                td=post.description
                                td=format(post.created_at)
                                td 
                                    a(href="/admin/blogs/"+post._id+"/delete" class="btn btn-danger") Eliminar
                        -})
        include ../includes/client/foot.pug